*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-left: 15px;
    margin-right: 15px;
    padding-left:5rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: cornflowerblue;
    box-shadow: 5px 5px 15px blue, 10px 10px 10px red, 15px 15px 5px green;
}
header span{
    font-size: 50px;
}
ul{
    display: flex;
    flex-direction:row;
    list-style: none;
    font-size: 20px;
}
li{
    margin-right: 40px;
}
ol li{
    font-size: 18px;
    padding-bottom: 5px; 
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
article{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 960px;
    background-color: lightgreen;
}
h1{
    padding-bottom: 10px;

}
h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h3{
    padding-top: 5px;
    padding-bottom: 5px;
}
p{
    padding-top: 1rem;

}
p.para{
    font-size: 20px;
    text-align: justify;
}
ol{
    padding-left: 2rem;
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    height:100px;
}
th{
    background-color: lightskyblue;
}
th, td{
    width=50%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
#for{
    padding-top: 1px;
    padding-bottom: 2px;
}

footer{
    height: 5rem;
    background-color: black;
    color: beige;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px rgb(240, 69, 97)inset, 10px 10px 10px rgb(31, 19, 19);
}